@font-face {
	font-family: 'rPOP';
    src: url(https://www.homepage-tukurikata.com/fonts/sample.woff);
}
#label2{
    -fx-font-size: 28;
    -fx-font-family: rPOP;
}
.button{
    -fx-background-color: transparent;
    -fx-border: none;
    -fx-outline: none;
    -fx-appearance: none;
    -fx-background-color: #e8e8e8;
    -fx-selection-bar: black;
}
.button:focused{
    -fx-background-color: transparent;
    -fx-border: none;
    -fx-outline: none;
    -fx-appearance: none;
    -fx-translate-y:none;
    -fx-background-color: #e8e8e8;
    -fx-selection-bar: black;
}
.root{

}